<h2>Book Details</h2>
<p>
    <strong>Title:</strong>
    <%= @book.title %>
</p>
<p>
    <strong>Subtitle:</strong>
    <%= @book.subtitle %>
</p>
<p>
    <strong>Description:</strong>
    <%= @book.description %>
</p>
<p>
    <strong>Publisher:</strong>
    <%= @book.publisher %>
</p>
<p>
    <strong>Format:</strong>
    <%= @book.format %>
</p>
<p>
    <strong>Price:</strong>
    <%= @book.price %>
</p>
<p>
    <strong>Pages:</strong>
    <%= @book.pages %>
</p>
<p>
    <strong>Notes:</strong>
    <%= @book.notes %>
</p>

<%= link_to 'Back', books_path %>